.containerr {
  display: flex;
  width: 100%;
}
.course-choose-list {
  overflow: auto;
  height: 150px;
}
.timetable {
  overflow: auto;
  flex: 2;
  width: auto;
  height: 670px;
}
.sidebar {
  width: 33%;
}

.timetable-view {
  display: none;
  margin-top: -25px;
}

.timetable-view.active {
  display: block;
}

#small-view {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row .timetable-thumbnail {
  width: 33% !important;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

#save-btn {
  width:20px;
  margin-left: 20px;
  left: 310px;
}

#save-btn,
#folder-btn {
  cursor: pointer;
  position: absolute;
}

#share-btn:hover,
#folder-btn:hover,
#save-btn:hover {
  transform: scale(1.2);
}

#folder-btn {
  width:30px;
  margin-left: 20px;
  cursor: pointer;
  left: 240px;
}

#share-btn {
  width:30px;
  margin-left:auto;
  margin-right: 20px;
  cursor: pointer;
}

.thumbnail-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.thumbnail-content {
  display: flex;
  justify-content: space-between;
}

.semester {
  width: 48%;
  border: 1px solid #ccc;
  padding: 10px;
}

.courses-section,
.preferences-section {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.interface-buttons {
  text-align: center;
}

.term-toggle {
  text-align: center;
  margin-bottom: 20px;
}

.courses-section-title {
  display: flex;
}

.course-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-indicator {
  width: 20px;
  height: 20px;
  background-color: rgb(193, 84, 7);
  margin-right: 10px;
}

.course-name {
  flex-grow: 1;
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.edit-btn:hover,
.delete-btn:hover {
  background-color: #f2f2f2;
}

.preference {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  cursor: grab;
}

.options {
  float: right;
}

.options input[type="radio"] {
  margin-left: 10px;
}

.options label {
  margin-left: 5px;
}

.preference-list.moving {
  background: transparent;
  color: transparent;
  border: 1px dashed #ccc;
}

.svg {
  transform: translateY(-2px);
  zoom: 80%;
}

/*滚动条美化*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

/*buttons*/

.generate-schedule,
.toggle-view {
  width: 100%;
  background-color: rgb(8, 121, 235);

  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.generate-schedule:hover,
.toggle-view:hover {
  background-color: #2263e4;
}

.generate-schedule,
.toggle-view {
  display: none;
}

.generate-schedule.active,
.toggle-view.active {
  display: block;
}

.term-btn {
  background-color: #e7e7e7;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.term-btn:hover {
  background-color: #d0caca;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.term-btn.active {
  /* background-color: #4CAF50; */
  background-color: rgb(8, 121, 235);
  color: white;
}

.timetable-header {
  background-color: #045ab0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 0 0 10px 10px;
}

.timetable-header h1 {
  margin: 0;
}

.report-issue-btn {
  background-color: #f8f8f8;
  color: #004080;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
}

.report-issue-btn:hover {
  background-color: #e8e8e8;
}

.title {
  font-family: "Arial", sans-serif;
  color: #055eb6;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
}

.title-main {
  font-weight: bold;
  color: #fff;
  background-color: #045ab1;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
}

.title-sub {
  font-weight: normal;
  color: #004080;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
}

.timetableTd:hover {
  background-color: #004080;
  cursor: pointer;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.semester:hover {
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.courses-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cridit {
  font-family: "Arial", sans-serif;
  text-align: right;
  transform: scale(0.7);
}

#loading-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000000000;
}

#loading-overlay img {
  zoom: 150%;
}

/* locker */
/* .timetableTd .lock-icon {
  position: relative;
  top: 0; 
  right: 0;
  padding: 5px;
  cursor: pointer;
}
 */
.fa-lock {
  font-size: 1.5em;
  color: black;
}

.lock-icon {
  display: none;
}

.timetableTd:hover .lock-icon {
  display: block;
}

.small-icon {
  font-size: 0.8em; /* 或者适当的大小 */
}

.large-icon {
  font-size: 1.2em; /* 或者适当的大小 */
}

@media screen and (max-width: 950px) {
  .containerr {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    order: 1;
  }

  .timetable {
    width: 100%;
    order: 2;
  }

  .timetable-header {
    zoom: 80%;
  }
}

.travel-img {
  width: 20px;
  height: auto;
}

#estimator-btn {
  background-color: #ffffff;
  color: rgb(68, 183, 255);
  padding: 5px 20px;
  border-color: #007bff;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

#estimator-open {
  display: flex;
  align-items: center;
  background-color: #007bff; /* 蓝色背景 */
  border-radius: 20px; /* 圆角边框 */
  color: white; /* 白色文字 */
  font-size: 16px; /* 字体大小 */
  padding: 2px;
  width: max-content;
}

#estimator-open input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 1px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#estimator-open button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

#display-container {
  display: flex;
  align-items: center;
  background-color: #007bff; /* 蓝色背景 */
  border-radius: 20px; /* 圆角边框 */
  color: white; /* 白色文字 */
  padding: 5px 10px;
  font-size: 16px;
}

.display-box {
  background-color: white;
  border: 2px solid #007bff;
  border-radius: 15px;
  color: #007bff;
  padding: 1px 15px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

#close-btn,
#search-btn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
